.form__win,
.form__lose,
.form__draw {
  display: inline-block;
  text-decoration: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: 1px;

  &:first-of-type {
    margin-left: 0;
  }

  @include mobile {
    width: 7px;
    height: 7px;
    margin-top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.form__win {
  background-color: $form-win;
}

.form__lose {
  background-color: $form-lose;
}

.form__draw {
  background-color: $form-draw;
}
